In [ ]:
import numpy as np

# Tipado dinamico

In [1]:
a = 1
type(a)

int

In [2]:
a = 'Alejandro'
type(a)

str

In [3]:
a = []
type(a)

list

In [4]:
[1,2]*[3,4]

TypeError: can't multiply sequence by non-int of type 'list'